@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding-top:70px;
    background-color: #a3c6ff;
}
a{
  font-size: 18px;
  color: darkblue;
}
.navbar-right{
  margin-right: 10px;
}

.navbar-brand{
  font-size: 30px;
}

.starter-template{
  margin-left: 100px;
  margin-top: 30px;
  position: relative;
    background-color: #6a96dd;
    border-radius: 20%;
    height: 400px;
    .text-block{
      position: absolute;
      left: 40px;
      top: 40px;

    }
}
.home-image{
  position: absolute;
  height: 300px;
  float:right;
  margin-right: 100px;
  bottom: -50px;
  right: 0;
}

.pending-request{
  position: relative;
  text-align: right;
  height: 30px;
  span{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
  }
}

.accept-friend{
  background-color: white;
  position:absolute;
  top: -3px;
  right: -63px;
}
.small-icon{
  height: 30px;
}

.thumbnail-image{
  width:100px;
}

.thumbnail-min{
  height:50px;
}

.comment-well{
  background-color: white;
  margin-top: 20px;
}

.blockquote-reverse{
  border-bottom: solid 1px #f8f8f8;
}

.like-button-container{
  float:left;
}

.like-button{
  width:40px;
  height:40px;
}

.like-icon{
  width:40px;
  height:40px;
}

.comment-form-container{
  border-bottom: 1px solid black;
}

.comment-link{
  margin-left: 10px;
}

.comment-form{
  float:right;
  margin-right: 10%;
}

.logo-image{
  height:60px;
}

//forms
.form-control{
  height: 50px;
  background-color: #f8f8f8;
  font-size: 20px;
  width:50%;
}
#user_firstname{
  width:25%;
}
#user_surname{
  width:25%;
}
